/* 
   My Custom Color Palette
   Background Color: #000000 (Black)
   Text Color: #FFFFFF (White)
   Heading Color: #fff
   Link Color: red
*/

body {
    background-color: #ffa8e5;
    color: #f25b5b;
    font-family: Arial;
    margin: 20px;
}

#container {
    width: 100%;
}

h1, h2 {
    color: #940096;
    text-align: center;
}

p {
    font-weight: normal;
}

#profile {
    width: 250px;
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(240, 238, 238);
}

/* The associated style selectors are called the hyperlink (or "anchor") pseudo-class selectors */
a:link {color: red;}
a:visited {color: #FFFFFF;}
a:hover {color: blue;}
a:active {color: green;}